USE [QuanLyNhaThuoc]
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThu]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DoanhThu] (@Month varchar)
AS BEGIN
		SELECT 
			convert(nvarchar(10), NgayBan, 103) AS NgayBan,		
			COUNT(DISTINCT HoaDon.MaHD) AS TongHoaDon,
			SUM(HoaDonChiTiet.SoLuong * HoaDonChiTiet.DonGia) AS DoanhThu,
			SUM(HoaDonChiTiet.SoLuong * HangHoa.GiaVon) AS TongGiaVon,
			SUM(HoaDonChiTiet.SoLuong * HoaDonChiTiet.DonGia) - SUM(HoaDonChiTiet.SoLuong * HangHoa.GiaVon) AS LoiNhuan
		FROM HoaDon INNER JOIN HoaDonChiTiet ON HoaDon.MAHD = HoaDonChiTiet.MaHDCT INNER JOIN HangHoa ON HoaDonChiTiet.MaHH = HangHoa.MAHH
		WHERE MONTH(HoaDon.NgayBan) = @Month
		GROUP BY NgayBan
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThu_Ngay]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DoanhThu_Ngay] (@varchar date)
AS BEGIN 
		SELECT 
			convert(nvarchar(10), NgayBan, 103) AS NgayBan,		
			COUNT(DISTINCT HoaDon.MaHD) AS TongHoaDon,
			SUM(HoaDonChiTiet.SoLuong * HoaDonChiTiet.DonGia) AS DoanhThu,
			SUM(HoaDonChiTiet.SoLuong * HangHoa.GiaVon) AS TongGiaVon,
			SUM(HoaDonChiTiet.SoLuong * HoaDonChiTiet.DonGia) - SUM(HoaDonChiTiet.SoLuong * HangHoa.GiaVon) AS LoiNhuan
		FROM HoaDon INNER JOIN HoaDonChiTiet ON HoaDon.MAHD = HoaDonChiTiet.MaHDCT INNER JOIN HangHoa ON HoaDonChiTiet.MaHH = HangHoa.MAHH
		WHERE HoaDon.NgayBan = convert(nvarchar(10), @varchar, 103)
		GROUP BY NgayBan
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HangHoa_ConHang]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_HangHoa_ConHang] AS
BEGIN
	SELECT 
		hh.MAHH,
		dmt.TenThuoc,
		hh.SoLo,
		hh.HSD,
		hh.SoLuongGoc,
		hh.DonViGoc
	FROM HangHoa hh JOIN DanhMucThuoc dmt ON hh.MaThuoc =dmt.MATHUOC
	WHERE SoLuongGoc > 5 
	ORDER BY SoLuongGoc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HangHoa_DaHet]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_HangHoa_DaHet] AS
BEGIN
	SELECT 
		hh.MAHH,
		dmt.TenThuoc,
		hh.SoLo,
		hh.HSD,
		hh.SoLuongGoc,
		hh.DonViGoc
	FROM HangHoa hh JOIN DanhMucThuoc dmt ON hh.MaThuoc =dmt.MATHUOC
	WHERE SoLuongGoc <= 0
	ORDER BY SoLuongGoc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HangHoa_SapHet]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_HangHoa_SapHet] AS
BEGIN
	SELECT 
		hh.MAHH,
		dmt.TenThuoc,
		hh.SoLo,
		hh.HSD,
		hh.SoLuongGoc,
		hh.DonViGoc
	FROM HangHoa hh JOIN DanhMucThuoc dmt ON hh.MaThuoc =dmt.MATHUOC
	WHERE SoLuongGoc <= 5 AND SoLuongGoc > 0
	ORDER BY SoLuongGoc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HanSuDung_HetHan]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_HanSuDung_HetHan] AS 
BEGIN
	SELECT 
		hh.MAHH,
		dmt.TenThuoc,
		hh.SoLo,
		convert(nvarchar(10), hh.HSD, 103) AS HSD,
		hh.SoLuongGoc,
		hh.DonViGoc
	FROM HangHoa hh JOIN DanhMucThuoc dmt ON hh.MaThuoc =dmt.MATHUOC
	WHERE HSD <=GETDATE()
	ORDER BY SoLuongGoc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HanSuDung_SapHetHan]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_HanSuDung_SapHetHan] AS 
BEGIN
	SELECT 
		hh.MAHH,
		dmt.TenThuoc,
		hh.SoLo,
		convert(nvarchar(10), hh.HSD, 103) AS HSD,
		hh.SoLuongGoc,
		hh.DonViGoc
	FROM HangHoa hh JOIN DanhMucThuoc dmt ON hh.MaThuoc =dmt.MATHUOC
	WHERE HSD <= DATEADD(month, 1, GETDATE()) AND HSD > GETDATE()
	ORDER BY SoLuongGoc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HanSuDung_Tot]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_HanSuDung_Tot] AS 
BEGIN
	SELECT 
		hh.MAHH,
		dmt.TenThuoc,
		hh.SoLo,
		convert(nvarchar(10), hh.HSD, 103) AS HSD,
		hh.SoLuongGoc,
		hh.DonViGoc
	FROM HangHoa hh JOIN DanhMucThuoc dmt ON hh.MaThuoc =dmt.MATHUOC
	WHERE HSD > DATEADD(month, 1, GETDATE())
	ORDER BY SoLuongGoc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KhachHangThanThiet]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KhachHangThanThiet]
AS BEGIN
		SELECT 
			hd.MAKH, 
			kh.TenKH,
			kh.SDT,			
			COUNT(hd.MaKH) AS SoLanMua,
			kh.Diem		
		FROM HoaDon hd JOIN KhachHang kh ON hd.MaKH = kh.MAKH
		GROUP BY hd.MAKH, kh.TenKH, kh.SDT, kh.Diem		
		ORDER BY SoLanMua DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KhachHangThanThiet_Ten]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KhachHangThanThiet_Ten] (@thang varchar, @ten nvarchar(100)) AS
BEGIN
	SELECT 
			hd.MAKH, 
			kh.TenKH,
			kh.SDT,			
			COUNT(hd.MaKH) AS SoLanMua,
			kh.Diem		
	FROM HoaDon hd JOIN KhachHang kh ON hd.MaKH = kh.MAKH
	WHERE MONTH(hd.NgayBan) = @thang AND kh.TenKH = @ten
	GROUP BY hd.MAKH, kh.TenKH, kh.SDT, kh.Diem		
	ORDER BY SoLanMua DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KhachHangThanThiet_Ten_TatCa]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KhachHangThanThiet_Ten_TatCa] (@ten nvarchar(100)) AS
BEGIN
	SELECT 
			hd.MAKH, 
			kh.TenKH,
			kh.SDT,			
			COUNT(hd.MaKH) AS SoLanMua,
			kh.Diem		
	FROM HoaDon hd JOIN KhachHang kh ON hd.MaKH = kh.MAKH
	WHERE kh.TenKH =  @ten
	GROUP BY hd.MAKH, kh.TenKH, kh.SDT, kh.Diem		
	ORDER BY SoLanMua DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KhachHangThanThiet_TheoThang]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KhachHangThanThiet_TheoThang] (@Month varchar)
AS BEGIN
	SELECT 
			hd.MAKH, 
			kh.TenKH,
			kh.SDT,			
			COUNT(hd.MaKH) AS SoLanMua,
			kh.Diem		
		FROM HoaDon hd JOIN KhachHang kh ON hd.MaKH = kh.MAKH
		WHERE MONTH(hd.NgayBan) = @Month
		GROUP BY hd.MAKH, kh.TenKH, kh.SDT, kh.Diem		
		ORDER BY SoLanMua DESC

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThuocNoiBat]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThuocNoiBat] AS 
BEGIN
	SELECT 
		HangHoa.MAHH,
		DanhMucThuoc.TenThuoc,	
		COUNT(HoaDonChiTiet.MaHH) AS SoLanBan
	FROM  HoaDonChiTiet JOIN HangHoa ON HoaDonChiTiet.MaHH = HangHoa.MAHH JOIN DanhMucThuoc 
		ON HangHoa.MaThuoc = DanhMucThuoc.MATHUOC JOIN HoaDon ON HoaDon.MAHD = HoaDonChiTiet.MaHDCT
	GROUP BY DanhMucThuoc.TenThuoc, HangHoa.MAHH
	ORDER BY SoLanBan DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThuocNoiBat_Thang]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThuocNoiBat_Thang] (@Month varchar) AS 
BEGIN
	SELECT
		HangHoa.MAHH,
		DanhMucThuoc.TenThuoc,
		COUNT(HoaDonChiTiet.MaHH) AS SoLanBan
	FROM  HoaDonChiTiet JOIN HangHoa ON HoaDonChiTiet.MaHH = HangHoa.MAHH JOIN DanhMucThuoc 
		ON HangHoa.MaThuoc = DanhMucThuoc.MATHUOC JOIN HoaDon ON HoaDon.MAHD = HoaDonChiTiet.MaHDCT
	WHERE MONTH(HoaDon.NgayBan) = @Month
	GROUP BY DanhMucThuoc.TenThuoc, HangHoa.MAHH
	ORDER BY SoLanBan DESC
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ThuocNoiBat_Thuoc]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThuocNoiBat_Thuoc] (@thuoc nvarchar(50), @thang varchar) AS
BEGIN
	SELECT
		COUNT(HoaDonChiTiet.MaHH) AS SoLanBan,
		HangHoa.MAHH,
		DanhMucThuoc.TenThuoc		
	FROM  HoaDonChiTiet JOIN HangHoa ON HoaDonChiTiet.MaHH = HangHoa.MAHH JOIN DanhMucThuoc 
		ON HangHoa.MaThuoc = DanhMucThuoc.MATHUOC JOIN HoaDon ON HoaDon.MAHD = HoaDonChiTiet.MaHDCT
	WHERE DanhMucThuoc.TenThuoc = @thuoc AND MONTH(HoaDon.NgayBan) = @thang
	GROUP BY DanhMucThuoc.TenThuoc, HangHoa.MAHH
	ORDER BY SoLanBan DESC		
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThuocNoiBat_Thuoc_TatCa]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_ThuocNoiBat_Thuoc_TatCa] (@thuoc nvarchar(50)) AS
BEGIN
	SELECT
		COUNT(HoaDonChiTiet.MaHH) AS SoLanBan,
		HangHoa.MAHH,
		DanhMucThuoc.TenThuoc		
	FROM  HoaDonChiTiet JOIN HangHoa ON HoaDonChiTiet.MaHH = HangHoa.MAHH JOIN DanhMucThuoc 
		ON HangHoa.MaThuoc = DanhMucThuoc.MATHUOC JOIN HoaDon ON HoaDon.MAHD = HoaDonChiTiet.MaHDCT
	WHERE DanhMucThuoc.TenThuoc = @thuoc 
	GROUP BY DanhMucThuoc.TenThuoc, HangHoa.MAHH
	ORDER BY SoLanBan DESC		
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TonKho]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TonKho] AS 
BEGIN
	SELECT 
		hh.MAHH,
		dmt.TenThuoc,
		hh.SoLo,
		convert(nvarchar(10), hh.HSD, 103) AS HSD,			
		hh.SoLuongGoc,
		hh.DonViGoc
	FROM HangHoa hh JOIN DanhMucThuoc dmt ON hh.MaThuoc =dmt.MATHUOC
	ORDER BY SoLuongGoc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TonKho_Tim]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TonKho_Tim] (@ten nvarchar(100)) AS 
BEGIN
	SELECT 
		hh.MAHH,
		dmt.TenThuoc,
		hh.SoLo,
		convert(nvarchar(10), hh.HSD, 103) AS HSD,			
		hh.SoLuongGoc,
		hh.DonViGoc
	FROM HangHoa hh JOIN DanhMucThuoc dmt ON hh.MaThuoc =dmt.MATHUOC
	WHERE dmt.TenThuoc = @ten
	ORDER BY SoLuongGoc
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDMT]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDDMT]()
RETURNS VARCHAR(7)
AS
BEGIN
	DECLARE @ID VARCHAR(7)
	IF (SELECT COUNT(MATHUOC) FROM DANHMUCTHUOC) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MATHUOC, 5)) FROM DANHMUCTHUOC
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'TH0000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 and @ID <99 THEN 'TH000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 and @ID < 999  THEN 'TH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 999 and @ID < 9999  THEN 'TH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >=9999 and @ID < 99999 THEN 'TH' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHD]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDHD]()
RETURNS VARCHAR(7)
AS
BEGIN
	DECLARE @ID VARCHAR(7)
	IF (SELECT COUNT(MAHD) FROM HOADON) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAHD, 5)) FROM HOADON
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HD0000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 and @ID <99 THEN 'HD000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 and @ID < 999  THEN 'HD00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 999 and @ID < 9999  THEN 'HD0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >=9999 and @ID < 99999 THEN 'HD' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHH]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDHH]()
RETURNS VARCHAR(7)
AS
BEGIN
	DECLARE @ID VARCHAR(7)
	IF (SELECT COUNT(MAHH) FROM HANGHOA) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAHH, 5)) FROM HANGHOA
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HH0000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 and @ID <99 THEN 'HH000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 and @ID < 999  THEN 'HH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 999 and @ID < 9999  THEN 'HH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >=9999 and @ID < 99999 THEN 'HH' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKH]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDKH]()
RETURNS VARCHAR(7)
AS
BEGIN
	DECLARE @ID VARCHAR(7)
	IF (SELECT COUNT(MAKH) FROM KHACHHANG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAKH, 5)) FROM KHACHHANG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'KH0000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 and @ID <99 THEN 'KH000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 and @ID < 999  THEN 'KH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 999 and @ID < 9999  THEN 'KH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >=9999 and @ID < 99999 THEN 'KH' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDNT]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDNT]()
RETURNS VARCHAR(7)
AS
BEGIN
	DECLARE @ID VARCHAR(7)
	IF (SELECT COUNT(MANT) FROM NHOMTHUOC) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MANT, 5)) FROM NHOMTHUOC
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'NT0000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 and @ID <99 THEN 'NT000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 and @ID < 999  THEN 'NT00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 999 and @ID < 9999  THEN 'NT0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >=9999 and @ID < 99999 THEN 'NT' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[DanhMucThuoc]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DanhMucThuoc](
	[MATHUOC] [char](7) NOT NULL,
	[TenThuoc] [nvarchar](50) NOT NULL,
	[SoDK] [nvarchar](50) NULL,
	[HangSX] [nvarchar](50) NULL,
	[NoiSX] [nvarchar](30) NULL,
	[DonViGoc] [nvarchar](20) NOT NULL,
	[DonViQuiDoi] [nvarchar](20) NOT NULL,
	[SoLuongQuiDoi] [float] NOT NULL,
	[DongGoi] [nvarchar](50) NULL,
	[MaNT] [char](7) NOT NULL,
	[HoatChat] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MAHH] [char](7) NOT NULL,
	[MaThuoc] [char](7) NOT NULL,
	[SoLo] [nvarchar](30) NOT NULL,
	[HSD] [date] NOT NULL,
	[SoLuongGoc] [float] NOT NULL,
	[DonViGoc] [nvarchar](20) NOT NULL,
	[SLSauQuiDoi] [float] NOT NULL,
	[DonViQuiDoi] [nvarchar](20) NOT NULL,
	[GiaVon] [float] NOT NULL,
	[GiaBan] [float] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
	[NgayTao] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MAHD] [char](7) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[NgayBan] [date] NOT NULL,
	[MaKH] [char](7) NOT NULL,
	[TongTien] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[MaHDCT] [char](7) NOT NULL,
	[MaHH] [char](7) NOT NULL,
	[SoLuong] [float] NOT NULL,
	[DonGia] [float] NOT NULL,
 CONSTRAINT [PK_HoaDonChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaHDCT] ASC,
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKH] [char](7) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[SDT] [nchar](10) NULL,
	[NamSinh] [int] NULL,
	[Diem] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[VaiTro] [bit] NOT NULL,
	[Hinh] [nvarchar](100) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomThuoc]    Script Date: 8/10/2021 5:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhomThuoc](
	[MANT] [char](7) NOT NULL,
	[TenNT] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DanhMucThuoc] ([MATHUOC], [TenThuoc], [SoDK], [HangSX], [NoiSX], [DonViGoc], [DonViQuiDoi], [SoLuongQuiDoi], [DongGoi], [MaNT], [HoatChat]) VALUES (N'TH00001', N'Panadol', N'VN-22261-19', N'GlaxoSmithKline Pte., Ltd.', N'Singapore', N'Hộp', N'Viên', 150, N'Hộp 15 vỉ x 10 viên', N'NT00003', N'Paracetamol 500mg')
INSERT [dbo].[DanhMucThuoc] ([MATHUOC], [TenThuoc], [SoDK], [HangSX], [NoiSX], [DonViGoc], [DonViQuiDoi], [SoLuongQuiDoi], [DongGoi], [MaNT], [HoatChat]) VALUES (N'TH00002', N'Amoxicillin', N'VD-22625-15', N'CTCP xuất nhập khẩu y tế Domesco', N'Việt Nam', N'Hộp', N'Viên', 100, N'Hộp 10 vỉ x 10 viên', N'NT00007', N'Amoxicillin 500 mg')
INSERT [dbo].[DanhMucThuoc] ([MATHUOC], [TenThuoc], [SoDK], [HangSX], [NoiSX], [DonViGoc], [DonViQuiDoi], [SoLuongQuiDoi], [DongGoi], [MaNT], [HoatChat]) VALUES (N'TH00003', N'Tetracyclin', N'VD-33628-19', N'Công ty cổ phần Dược phẩm TW 25', N'Việt Nam', N'Hộp', N'Viên', 100, N'Hộp 10 vỉ x 10 viên', N'NT00007', N'Tetracyclin hydroclorid 500 mg')
INSERT [dbo].[HangHoa] ([MAHH], [MaThuoc], [SoLo], [HSD], [SoLuongGoc], [DonViGoc], [SLSauQuiDoi], [DonViQuiDoi], [GiaVon], [GiaBan], [GhiChu], [NgayTao]) VALUES (N'HH00001', N'TH00001', N'abc', CAST(0xF2420B00 AS Date), 10, N'Hộp', 1500, N'Viên', 500, 1000, N'', CAST(0xD4420B00 AS Date))
INSERT [dbo].[HangHoa] ([MAHH], [MaThuoc], [SoLo], [HSD], [SoLuongGoc], [DonViGoc], [SLSauQuiDoi], [DonViQuiDoi], [GiaVon], [GiaBan], [GhiChu], [NgayTao]) VALUES (N'HH00002', N'TH00002', N'18719', CAST(0xC8440B00 AS Date), 10, N'Hộp', 1000, N'Viên', 500, 1000, N'', CAST(0xD7420B00 AS Date))
INSERT [dbo].[HangHoa] ([MAHH], [MaThuoc], [SoLo], [HSD], [SoLuongGoc], [DonViGoc], [SLSauQuiDoi], [DonViQuiDoi], [GiaVon], [GiaBan], [GhiChu], [NgayTao]) VALUES (N'HH00003', N'TH00003', N'200723', CAST(0x29440B00 AS Date), 10, N'Hộp', 1000, N'Viên', 500, 1000, N'', CAST(0xD7420B00 AS Date))
INSERT [dbo].[HoaDon] ([MAHD], [MaNV], [NgayBan], [MaKH], [TongTien]) VALUES (N'HD00001', N'phucnh', CAST(0xB3420B00 AS Date), N'KH00001', 9500)
INSERT [dbo].[HoaDon] ([MAHD], [MaNV], [NgayBan], [MaKH], [TongTien]) VALUES (N'HD00002', N'phucnh', CAST(0xB4420B00 AS Date), N'KH00013', 43500)
INSERT [dbo].[HoaDon] ([MAHD], [MaNV], [NgayBan], [MaKH], [TongTien]) VALUES (N'HD00003', N'phucnh', CAST(0xB5420B00 AS Date), N'KH00002', 34800)
INSERT [dbo].[HoaDonChiTiet] ([MaHDCT], [MaHH], [SoLuong], [DonGia]) VALUES (N'HD00001', N'HH00005', 2, 1000)
INSERT [dbo].[HoaDonChiTiet] ([MaHDCT], [MaHH], [SoLuong], [DonGia]) VALUES (N'HD00001', N'HH00012', 2, 1000)
INSERT [dbo].[HoaDonChiTiet] ([MaHDCT], [MaHH], [SoLuong], [DonGia]) VALUES (N'HD00001', N'HH00013', 3, 1000)
GO
INSERT [dbo].[KhachHang] ([MAKH], [TenKH], [GioiTinh], [SDT], [NamSinh], [Diem]) VALUES (N'KH00001', N'Nguyễn Quốc Bảo', 1, N'456       ', 1992, 151.4)
INSERT [dbo].[KhachHang] ([MAKH], [TenKH], [GioiTinh], [SDT], [NamSinh], [Diem]) VALUES (N'KH00002', N'Nguyễn Thị Hương Lan', 0, N'789       ', 1998, 338.70000000000005)
INSERT [dbo].[KhachHang] ([MAKH], [TenKH], [GioiTinh], [SDT], [NamSinh], [Diem]) VALUES (N'KH00003', N'Nguyễn Thị Liễu', 0, N'123       ', 1978, 461.9)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [Email], [GioiTinh], [MatKhau], [VaiTro], [Hinh]) VALUES (N'baodq', N'Đinh Quốc Bảo', N'0322366599', N'baodq90@gmail.com', 1, N'123', 0, N'80559920_2611627615732340_3297990947194798080_n.jpg')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [Email], [GioiTinh], [MatKhau], [VaiTro], [Hinh]) VALUES (N'dainq', N'Nguyễn Quốc Đại', N'0123456789', N'dainq123@gmail.com', 1, N'123', 0, N'IMG_3996.JPG')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SDT], [Email], [GioiTinh], [MatKhau], [VaiTro], [Hinh]) VALUES (N'diemnn', N'Nguyễn Ngọc Diễm', N'0978456365', N'diemnn@hmail.com', 0, N'123', 0, NULL)
INSERT [dbo].[NhomThuoc] ([MANT], [TenNT], [MoTa]) VALUES (N'NT00001', N'Nhóm dạ dày', N'')
INSERT [dbo].[NhomThuoc] ([MANT], [TenNT], [MoTa]) VALUES (N'NT00002', N'Nhóm giãn cơ', N'')
INSERT [dbo].[NhomThuoc] ([MANT], [TenNT], [MoTa]) VALUES (N'NT00003', N'Nhóm giảm đau hạ sốt', N'Nhóm giảm đau hạ sốt')
ALTER TABLE [dbo].[DanhMucThuoc] ADD  CONSTRAINT [IDDMT]  DEFAULT ([DBO].[AUTO_IDDMT]()) FOR [MATHUOC]
GO
ALTER TABLE [dbo].[HangHoa] ADD  CONSTRAINT [IDHH]  DEFAULT ([DBO].[AUTO_IDHH]()) FOR [MAHH]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [IDHD]  DEFAULT ([DBO].[AUTO_IDHD]()) FOR [MAHD]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [IDKH]  DEFAULT ([DBO].[AUTO_IDKH]()) FOR [MAKH]
GO
ALTER TABLE [dbo].[NhomThuoc] ADD  CONSTRAINT [IDNT]  DEFAULT ([DBO].[AUTO_IDNT]()) FOR [MANT]
GO
ALTER TABLE [dbo].[DanhMucThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucThuoc_NhomThuoc] FOREIGN KEY([MaNT])
REFERENCES [dbo].[NhomThuoc] ([MANT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DanhMucThuoc] CHECK CONSTRAINT [FK_DanhMucThuoc_NhomThuoc]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_DanhMucThuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[DanhMucThuoc] ([MATHUOC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_DanhMucThuoc]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiet_HangHoa] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MAHH])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK_HoaDonChiTiet_HangHoa]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiet_HoaDon] FOREIGN KEY([MaHDCT])
REFERENCES [dbo].[HoaDon] ([MAHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK_HoaDonChiTiet_HoaDon]
GO
